*{
  box-sizing: border-box;
}
body
{
  background-color: #82051F;
  font-family: sans-serif;
  color: white;
}
h3
{
  color:white;
}
.topnav
{
  overflow:hidden;
  background-color: #F52F4F4D;
  padding: 10px;
  border-radius: 15px;
}
.topnav a
{
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
}
.topnav .search-container
{
  float:right;
}
form
{
  background-color: #131720;
  width: 300px;
  height: 43px;
  border-radius: 11px;
  display: flex;
  align-items: center;
}
input
{
  all:unset;
  font: 15px system-ui;
  color: white;
  height: 100%;
  width: 100%;
  padding: 6px 9px;
}
.thumbnail
{
  height: 350px;
  width: 250px;
  border-radius: 19px;
}
.column
{
  float: left;
  width: 25%;
  padding: 10px 10px;
}
.card
{
  border-radius: 19px;
  padding: 15px;
  text-align: center;
  background-color: #131720;
}
#addreview
{
  width: 350px;
  margin: 30px auto;     
  padding: 20px;
  border-radius: 12px;
  text-align: center;
}
.review-container {
display: flex;
flex-wrap: wrap;
gap: 15px;
  justify-content: center;
}
.review-item {
background: #ffffff22;
padding: 10px 15px;
border-radius: 10px;
width: 250px;
}
.row {
  display: flex;
  justify-content: center;  
}